<div class="row">
    <div class="col-sm-7 col-7">
        <h4 class="page-title">Panel de Control</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="col-xl-6 col-lg-6">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fa fa-car"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Espacio ocupados en el Parqueo</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                0 / {{ capacidad }}
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>12.5% <i class="fa fa-car"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>