<div class="row">
    <div class="col-sm-6 col-6">
        <h4 class="page-title">Lista de Blogs creados</h4>
    </div>

    <div class="col-sm-6 col-6 text-right m-b-20">

        <div class="btn-group content" style="margin-right: 5px;">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs {{lblTituloBlog}}</button>
            <div class="dropdown-menu" >
                <a class="dropdown-item" href="javascript:void(0);" (click)="listaBlogByEstado(1)">Blogs Habilitados</a>
                <a class="dropdown-item" href="javascript:void(0);" (click)="listaBlogByEstado(0)">Blogs Deshabilitados</a>
            </div>
        </div>
 
        <a href="javascript:void(0);" (click)="clickNavegarAgregarblog()" class="btn btn btn-danger float-right"><i class="fa fa-plus"></i> Agregar Nuevo Blog</a>
    </div>


</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Fecha</th>
                        <th>Noticia</th>
                        <th>Usuario</th>
                        <th class="text-right">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let blog of listaBlog;let i = index;">
                        <td class="text-center">
                            {{ i+1 }}
                        </td>
                        <td class="text-center">
                            <h2><a>{{ blog.fecha }}<span style="color: rgb(81, 84, 87)">Hora: {{ blog.hora }}</span></a></h2>
                        </td>
                        <td class="text-center">
                            {{blog.titulo}}
                        </td>
                        <td class="text-center" >
                            <img width="50" height="50" src="{{ url }}imagenes/usuarios/{{blog.foto_usuario}}" class="rounded-circle m-r-5" alt="">
                                <h2 style="font-size: 95%;"><a style="color: rgb(113, 108, 108);">{{ blog.usuario | uppercase }}</a></h2>
                        </td>
                        <td class="text-right">
                            <a href="javascript:void(0);" (click)="clickNavegarActualizarBlog(blog.id)" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-pencil"></i> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>