<div class="row">
    <div class="col-sm-12 col-12">
        <h4 class="page-title">Actualizar Datos del Usuario</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Nota: </strong> Tome en cuenta que <a class="alert-link">todos los campos con <span class="text-danger">*</span></a> son obligatorios.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="card-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>Cedula de Identidad <span class="text-danger">*</span></label></strong>
                        <input type="number" [(ngModel)]="ci_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese el C.I.">
                    </div>
                </div>
                <div class="col-sm-6">
                    <strong><label>Expedicion <span class="text-danger">*</span></label></strong>
                    <select [(ngModel)]="expedicion_usuario" #ctrl="ngModel" class="form-control">
                        <option value="" disabled selected>Seleccione la Expedicion</option>
                        <option value="BN">Beni</option>
                        <option value="CB">Cochabamba</option>
                        <option value="CH">Chuquisaca</option>
                        <option value="LP">La Paz</option>
                        <option value="OR">Oruro</option>
                        <option value="PN">Pando</option>
                        <option value="PT">Potosi</option>
                        <option value="SC">Santa Cruz</option>
                        <option value="TJ">Tarija</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <strong><label>Nombres(s) <span class="text-danger">*</span></label></strong>
                        <input type="text" [(ngModel)]="nombre_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese el Nombre completo">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>Apellido Paterno <span class="text-danger">*</span></label></strong>
                        <input type="text" [(ngModel)]="apellido_paterno_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese el Apellido">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>Apellido Materno <span class="text-danger">*</span></label></strong>
                        <input type="text" [(ngModel)]="apellido_materno_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese el Apellido Materno">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>Genero <span class="text-danger">*</span></label></strong>
                        <select [(ngModel)]="genero_usuario" #ctrl="ngModel" class="form-control">
                            <option value="" disabled selected>Seleccione el Genero</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <strong><label>Estado Civil <span class="text-danger">*</span></label></strong>
                    <select [(ngModel)]="estado_civil_usuario" #ctrl="ngModel" class="form-control">
                        <option value="" disabled selected>Seleccione el Estado Civil</option>
                        <option value="Soltero(a)">Soltero(a)</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="Divorciado(a)">Divorciado(a)</option>
                        <option value="Viudo(a)">Viudo(a)</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>Fecha de Nacimiento <span class="text-danger">*</span></label></strong>
                        <input type="date" [(ngModel)]="fecha_nacimiento_usuario" #ctrl="ngModel" class="form-control date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>Estudio Maximo Alcanzado <span class="text-danger">*</span></label></strong>
                        <input type="text" [(ngModel)]="estudio_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese el estudio alcanzado">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>Correo Electronico <span class="text-danger">*</span></label></strong>
                        <input type="text" [(ngModel)]="correo_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese el correo electroinico">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>celular <span class="text-danger">*</span></label></strong>
                        <input type="number" [(ngModel)]="telefono_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese el numero de celular">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <strong><label>Departamento <span class="text-danger">*</span></label></strong>
                                <select [(ngModel)]="departamento" #ctrl="ngModel" id="cbDepartamento" class="form-control">
                                    <option value="" disabled selected>Seleccione un Departamento</option>
                                    <option value="Beni">Beni</option>
                                    <option value="Cochabamba">Cochabamba</option>
                                    <option value="Chuquisaca">Chuquisaca</option>
                                    <option value="La Paz">La Paz</option>
                                    <option value="Oruro">Oruro</option>
                                    <option value="Pando">Pando</option>
                                    <option value="Potosi">Potosi</option>
                                    <option value="Santa Cruz">Santa Cruz</option>
                                    <option value="Tarija">Tarija</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong><label>Zona <span class="text-danger">*</span></label></strong>
                                <input type="text" [(ngModel)]="zona_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese la zona">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong><label>Avenida <span class="text-danger">*</span></label></strong>
                                <input type="text" [(ngModel)]="avenida_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese la Avenida">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong><label>Calle <span class="text-danger">*</span></label></strong>
                                <input type="text" [(ngModel)]="calle_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese la calle">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong><label>Numero de Casas <span class="text-danger">*</span></label></strong>
                                <input type="number" [(ngModel)]="numero_casa_usuario" #ctrl="ngModel" class="form-control" placeholder="Nro.">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <strong><label>Referencia del Domicilio <span class="text-danger">*</span></label></strong>
                                <input type="text" [(ngModel)]="referencia_usuario" #ctrl="ngModel" class="form-control" placeholder="Ingrese la referencia">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <strong><label>Ubicacion Geografica</label></strong>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary" (click)="click_desbloquear()" style="margin-right: 5px;" id="btnDesbloqueo">DESBLOQUEAR</button>
                            </div>
                        </div>
                        <br>
                        <div class="map" #mapElement></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card-box">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <strong><label>Cargo del Usuario <span class="text-danger">*</span></label></strong>
                        <select [(ngModel)]="id_rol" #ctrl="ngModel" class="form-control">
                            <option value="" disabled selected>Seleccione un Cargo</option>
                            <option *ngFor = "let data of datosRol;" [value]="data.id">{{data.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>Fotografia Actual</label></strong>
                        <div class="text-center">
                            <img class="img-fluid avatar" style="width: 180px; height: auto;" src="{{url}}imagenes/usuarios/{{foto_usuario}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <strong><label>Actualizar Fotografia</label></strong>
                        <div class="custom-dropzone" ngx-dropzone [multiple]="false" [accept]="'image/*'" (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <div>
                                    <h2>AGREGAR FOTOGRAFIA</h2>
                                </div>
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-image-preview>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-t-20 text-center">
    <button class="btn btn-danger" (click)="actualizarUsuarioById()" style="margin-right: 5px;">ACTUALIZAR USUARIO</button>
    <button class="btn btn-info" (click)="clickNavegarHaciaListadoUsuarios()">CANCELAR</button>
</div>