<div class="row">
    <div class="col-sm-8">
        <h4 class="page-title">Inventario Descriptivo</h4>
    </div>
    <!--<div class="col-sm-4 text-right m-b-20">
        <a href="" data-toggle="modal" data-target="#modalProceso" (click)="click_agregarProceso()"  class="btn btn btn-danger float-right"><i class="fa fa-plus"></i> Agregar Proceso </a>
    </div>-->
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped custom-table">
                <thead>
                    <tr>
                        <th>Nro.</th>
                        <th>Vehiculo</th>
                        <th>Repuesto</th>
                        <th>Precio Estimado</th>
                        <th>Detalle</th>
                        <th>Registro</th>
                        <th>Fecha</th>
                        <th class="text-right">Opc.</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr *ngFor="let repuesto of listaRepuesto; let i = index;">
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">
                            <h2><a><span style="color: rgb(81, 84, 87)">{{ repuesto.clase_vehiculo }} {{ repuesto.marca }}</span> {{ repuesto.tipo }} {{ repuesto.version }} {{ repuesto.anho }}</a></h2>
                        </td>
                        <td class="text-center">{{ repuesto.nombre }}</td>
                        <td class="text-center">
                            <h2><a><span style="color: rgb(81, 84, 87)">$us.</span> {{ repuesto.precio | number:'1.2-2' }}</a></h2>
                        </td>
                        <td class="text-center">{{ repuesto.detalle }}</td>
                        <td class="text-center">
                            <h2 style="color: rgb(101, 103, 106); font-size: 80%;"><a>{{ repuesto.usuario | uppercase }}</a></h2>
                        </td>
                        <td class="text-center">
                            <h2><a>{{ repuesto.fecha }}<span style="color: rgb(81, 84, 87)">Hora: {{ repuesto.hora }}</span></a></h2>
                        </td>
                        <td class="text-right">
                            <!--<div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#modalProceso" (click)="click_actualizarProceso(proceso.nombre_proceso, proceso.monto, proceso.id_proceso)" ><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    <a href="javascript:void(0)" (click)="actualizarProcesoEstadoById(proceso.nombre_proceso, proceso.id_proceso)"class="dropdown-item" ><i class="fa fa-trash m-r-5"></i> Eliminar</a>
                                </div>
                            </div>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>