<div *ngIf="showModalPago">
    <div class="modal fade" id="modalPago" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel" style="color: #fff;">AGREGAR PAGO</h4>
                </div>
                <div class="card-box" style="margin-bottom: 0px">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label><strong>Detalle del Pago </strong><span class="text-danger">*</span></label>
                                <input type="text" [(ngModel)]="detalle_pago" #ctrl="ngModel" class="form-control" placeholder="Ingrese el detalle">
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                            <a href="" data-toggle="modal" data-target="#modalImagen" (click)="click_agregarImagen()" class="btn btn btn-primary float-center"><i class="fa fa-picture-o"></i> Agregar Nueva Imagen</a>
                        </div>
                        
                        <label style="margin: 20px;"><strong>Imagen a Subir</strong></label>
        
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4" *ngFor="let imagen of listaPrevia;let i = index;">
                                    <img [src]="imagen" height="150px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="actualizarPagoSolicitud()">AGREGAR PAGO</button>
					<button type="button" class="btn btn-info" data-dismiss="modal" #cerrarModalPago>CANCELAR</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showModalPagoDetalle">
    <div class="modal fade" id="modalPagoDetalle" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel" style="color: #fff;">DETALLE DEL PAGO</h4>
                </div>
                <div class="card-box" style="margin-bottom: 0px">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Taller: </strong> {{ pago.nombre_taller }}</label>
                            </div>
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Vehiculo: </strong> {{ pago.marca }} {{ pago.clase_vehiculo }} {{ pago.tipo }} {{ pago.version }} {{ pago.anho }}</label>
                            </div>
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Usuario de Solicitud: </strong> {{ pago.usuario_solicitud }} </label>
                            </div>
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Monto de Solicitud: </strong> $us. {{ pago.total | number:'1.2-2' }} </label>
                            </div>
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Pago: </strong> {{ pago.pago_tipo_literal }} </label>
                            </div>
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Detalle: </strong> {{ pago.detalle_solicitud }} </label>
                            </div>
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Fecha y Hora de Solicitud: </strong> {{ pago.fecha_solicitud }} - {{ pago.hora_solicitud }}</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Registro de Verificacion: </strong> {{ pago.usuario }}</label>
                            </div>
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Fecha y Hora Verificacion: </strong> {{ pago.fecha }} - {{ pago.hora }}</label>
                            </div>
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Detalle de Verificacion: </strong> {{ pago.detalle }}</label>
                            </div>
                            <div class="form-group" style="margin: 0; padding: 0;">
                                <label><strong>Fotografia: </strong></label>
                                <img class="myimg" src="{{url}}imagenes/pagos/{{pago.foto}}" alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
					<button type="button" class="btn btn-info" data-dismiss="modal" #cerrarModalRepuestoDetalle>CERRAR</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showModalImagen">
    <div class="modal fade" id="modalImagen" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgb(50, 141, 194);">
                    <h4 class="modal-title" id="largeModalLabel" style="color: #fff;">AGREGAR IMAGEN</h4>
                </div>
                <div class="card-box" style="background-color: rgb(226, 226, 226);">
                    <div class="row">
                        <div class="col-sm-12 text-center" style="margin-bottom: 20px;">
                            <input type="file" (change)="fileChangeEvent($event)" />
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="card-box">
                                <h5 class="text-center">Imagen</h5>
                                <image-cropper 
                                [imageChangedEvent]="imageChangedEvent" 
                                [maintainAspectRatio]="true" 
                                [aspectRatio]="4 / 4"
                                [resizeToWidth]="800" 
                                format="jpeg" 
                                (imageCropped)="imageCropped($event)" 
                                (imageLoaded)="imageLoaded()"
                                (cropperReady)="cropperReady()" 
                                (loadImageFailed)="loadImageFailed()"></image-cropper>
                            </div>
                            
                        </div>
                        <div class="col-sm-6">
                            <div class="card-box">
                                <h5 class="text-center">Vista Previa</h5>
                                <img [src]="croppedImage" width="250px"/>
                            </div>
                        </div>
                    </div>
                    

                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="click_cortarImagen()">CORTAR IMAGEN</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" #cerrarModalImagen>CERRAR</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-7 col-7">
        <h4 class="page-title">Lista de Solicitudes de Pago</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">

            <div class="table-responsive">
                <table class="table table-striped custom-table">
                    <thead>
                        <tr>
                            <th>Nro.</th>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Solicitud</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th class="text-right">Opc.</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let pago of listaPago; let i = index;">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">
                                <h2><a>{{ pago.fecha_solicitud }}<span style="color: rgb(81, 84, 87)">Hora: {{ pago.hora_solicitud }}</span></a></h2>
                            </td>
                            <td class="text-center">
                                <h2 style="color: rgb(101, 103, 106); font-size: 80%;"><a>{{ pago.usuario | uppercase }}</a></h2>
                            </td>
                            <td class="text-center">{{ pago.detalle_solicitud }}</td>
                            <td class="text-center">
                                <h2><a><span style="color: rgb(81, 84, 87)">de: {{ pago.pago_tipo_literal }}</span> $us. {{ pago.total }}</a></h2>
                            </td>
                            <td class="text-center">
                                <span class="custom-badge " [ngClass]="[pago.verificado=='0' ? 'status-red': '', pago.verificado=='1' ? 'status-green': '']">{{ pago.verificado_literal }}</span>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0)" [ngClass]="[pago.verificado=='1' ? 'ocultar': '']" class="dropdown-item" data-toggle="modal" data-target="#modalPago" (click)="click_agregarPago(pago.id_taller_vehiculo_pago, id_taller_vehiculo)" ><i class="fa fa-pencil m-r-5"></i> Realizar Pago</a>
                                        <a href="javascript:void(0)" [ngClass]="[pago.verificado=='0' ? 'ocultar': '']" data-toggle="modal" data-target="#modalPagoDetalle" (click)="click_detallePago(pago.id_taller_vehiculo_pago, id_taller_vehiculo)"class="dropdown-item" ><i class="fa fa-trash m-r-5"></i> Ver Detalles</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>