<div *ngIf="shoModalSeleecionarVehiculo">
    <div class="modal fade" id="modalSelecionarVehiculo" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel" style="color: #fff;">SELECCIONAR VEHÍCULO</h4>
                </div>
                <div class="card-box" style="margin-bottom: 0px">
                    <div class="row">

                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Nro.</th>
                                        <th>Fecha - Hora</th>
                                        <th>Vehiculo</th>
                                        <th>Cliente</th>
                                        <th>Observacion</th>
                                        <th>Usuario</th>
                                        <th class="text-right">Opc.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let importacion of listaImportacion;let i = index;">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ importacion.fecha }} - {{ importacion.hora }}</td>
                                        <td>
                                            <h2><a>{{ importacion.clase_vehiculo }} {{ importacion.marca }} <span>{{ importacion.tipo }} {{ importacion.version }} {{ importacion.anho }}</span></a></h2>
                                            
                                        </td>
                                        <td>{{ importacion.cliente }}</td>
                                        <td>{{ importacion.observacion }}</td>
                                        <td>{{ importacion.usuario }}</td>
                                        <td>
                                            <button class="btn btn-primary" 
                                            (click)="click_seleccionarVehiculo(importacion.id_vehiculo, importacion.clase_vehiculo, importacion.marca, importacion.tipo, importacion.version, importacion.anho, importacion.foto)">
                                            Seleccionar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" #cerrarModal>CANCELAR</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-6">
        <h4 class="page-title">Recepcionar nuevo vehiculo</h4>
    </div>
    <div class="col-sm-6 col-68 text-right m-b-30">
        <a href="javascript:void(0);" class="btn btn btn-danger float-right" data-toggle="modal" data-target="#modalSelecionarVehiculo" (click)="click_abrirVehiculo()"><i class="fa fa-plus"></i> Seleccionar Vehículo </a>
    </div>
</div>

<div class="row" id="vehiculo_seleccionado" style="display: none;">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-sm-5" style="margin: 0; padding-right: 20px; border-right: 2px dashed #ccc;">
                    <ul class="list-unstyled invoice-payment-details">
                        <div class="col-sm-12" style="margin: 0; padding: 10px;">
                            <div id="id{{id_vehiculo}}" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li *ngFor="let imagen of imagen_vehiculo; let i = index" data-target="#idid_vehiculo" data-slide-to="i" [ngClass]="{'active': i == 0}"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div *ngFor="let imagen of imagen_vehiculo; let i = index"  class="carousel-item" [ngClass]="{'active': i == 0}">
                                      <div class="mycontainer" style="height: 150px; background-image: url('{{url}}imagenes/vehiculos/{{imagen}}');">
                                          <div class="myblur">
                                              <img class="myimg" style="height: 150px;" src="{{url}}imagenes/vehiculos/{{imagen}}" alt="First slide">
                                          </div>
                                      </div>	
                                    </div>
                                  </div>
                                <a class="carousel-control-prev" href="#id{{id_vehiculo}}" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#id{{id_vehiculo}}" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="col-sm-7" style="margin: 0; padding-left: 20px;">
                    <h5 class="page-title" style="color: RGB(211, 50, 50);">Vehiculo Seleccionado </h5>
                    <ul class="list-unstyled invoice-payment-details">
                        <li>Clase: <span> {{ clase_vehiculo }}</span></li>
                        <li>Marca: <span> {{ marca_vehiculo }}</span></li>
                        <li>Tipo: <span>{{ tipo_vehiculo }}</span></li>
                        <li>Version: <span>{{ version_vehiculo }}</span></li>
                        <li>Año: <span>{{ anho_vehiculo }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 

    <div class="col-sm-12">
        <div class="form-group">
            <strong><label>Fotografias del Vehiculo</label></strong>
            <div class="custom-dropzone" ngx-dropzone [multiple]="false" [accept]="'image/*'" (change)="onSelectVehiculo($event)">
                <ngx-dropzone-label>
                    <div>
                        <h2>AGREGAR FOTOGRAFIA</h2>
                    </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of filesVehiculo" [file]="f" [removable]="true" (removed)="onRemoveVehiculo(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <strong><label>Detalle observaciones: <span class="text-danger">*</span></label></strong>
            <input type="text" [(ngModel)]="detalle" #ctrl="ngModel" class="form-control" placeholder="Ingrese detalle u observación">
        </div>
    </div>
</div>

<div class="m-t-20 text-center">
    <button class="btn btn-danger" (click)="agregarRecepcionVehiculoImportacionByTaller()" style="margin-right: 5px;">REGISTRAR RECEPCION</button>
    <button class="btn btn-info" (click)="click_navegarHaciaListaRecepcion()">CANCELAR</button>
</div>